<%- include ("../_partials/_header.ejs") -%>
<p></p>
<script>
    let obj = document.getElementById('about')
    obj.className += " active";
</script>
<h1 id="headings" style="width: 25%;">About Us</h1>
<p><h2>Members</h2>
<ul>
    <li>2KE21CS013 - APOORVA HEGDE</li>
    <li>2KE21CS092 - SHARON SHILOH DAMMU</li>
    <li>2KE21CS095 - SHRADDHA KORI</li>
    <li>2KE21CS109 - SRINIDHI S CHAPPAR</li>
    <li>2KE21CS113 - SURAJ KR DAS</li>
</ul></p>
<p>Entreprenuer Internship under K.L.E. Institute of Technology</p>
<%- include ("../_partials/_footer.ejs") -%>
<style>
    #about {
        color: rgb(0, 254, 155);
    }
    #about:hover {
        color: #21ffc4;
    }
    #ftitle .about {
        color: rgb(0, 254, 155);
    } 
</style>