<%- include ("../_partials/_header.ejs") -%>
<style>
    #chromosis {
        color: rgb(0, 254, 155);
    }
    #chromosis:hover {
        color: #21ffc4;
    }
    #profiles .row .col {
        padding-top: 50px;
        width: 50%;
        text-align: center;
        border: solid;
        border-width: 2pt;
        background-color: rgba(0, 254, 155,0.5);
    }
    #profiles .row .col img {
        border: solid;
        border-color: black;
        border-width: 2pt;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 45%;
    }
    #profcon:hover {
        padding-right: 20px;
        transform: scale(1.1);
    }
    #profcon:hover .imgcon {
        padding-right: 10px;
        transform: scale(1.25);
    }
    #profcon:hover .imgcon img {
        box-shadow: 8px 5px 1px rgb(243, 243, 243);
    }
</style>
<br>
<br>
<div id="headings"></div>
<br>
<div id="art"></div>
<br>
<div id="profiles"></div>
<script>
    let comp = 'chromosis'
    let obj = document.getElementById('cl') 
    obj.className += " active";    
    obj.style.color = "rgb(0, 254, 155)"
    var myObj = fetch("/pages.json").then((res) => { 
            return res.json()
        }).then((data) => { 
            let text = ""
            data.companies.forEach(x => {
                if(x.name.toLowerCase().split(" ")[0]==comp) {
                    document.getElementById("headings").innerHTML= `<h2 style="font-weight: bold;text-align: center;">${x.name}</h2>`
                    document.getElementById('art').innerHTML = `<p>${x.description}</p>`
                    let prof = document.getElementById('profiles')
                    let text = "<div class='container'>"
                    for (let index = 0; index < x.employees.length; index++) {
                        let employee = x.employees[index];
                        if(index%2==0) text+="<div class='row'><div class='col-1'></div>"
                        text+=`<div class='col' id='profcon'><div class='imgcon'><img src='/${comp}_${index}.jpg' alt='${employee.name}'></div><br><h5>${employee.name}</h5><p>${employee.post}</p></div><div class='col-1'></div>`
                        if(index%2!=0) text+="<div class='col-1'></div></div><br><br>"
                    }
                    text+="</div>"
                    prof.innerHTML=text
                }
            })
        })
</script>
<!-- Start Writing Here -->
<%- include ("../_partials/_footer.ejs") -%>